<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New recipe</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css" type="text/css"/>
</head>
<body>
    <div class="container">
        <header class="grid__header">
            <h1>
                Add a recipe
            </h1>
        </header>
        <div class="grid__container">
            <main class="grid__mainContent">
                To add a recipe, you only have to fill this form !
                <form action="/recipes" method="POST">
                    <label>
                        Name:
                        <input type="text" placeholder="name" name="name">
                    </label>
                    <label>
                        Quote:
                        <input type="text" placeholder="quote" name="quote">
                    </label>
                    <button type="submit">Submit</button>
                </form>
            </main>
            <nav class="grid__navigation">
                <ul class="navigation__group">
                    <li class="navigation__element">
                        <a class="link" href="index.html"> Homepage </a>
                    </li>
                    <li class="navigation__element">
                        <a class="link" href="seeall.html"> See all recipes </a>
                    </li>
                </ul>
            </nav>
        </div>
        <footer class="grid__footer">
            <hr/>
            Developed by Garance
        </footer>
    </div>
    <script src="bundle.js"></script>
</body>
</html>