<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="styles/main.css" type="text/css"/>

</head>
<body>
    <header class="grid__header">

    <h1>
        Welcome!
    </h1>
</header>

    <form action="/recipes" method="POST">
        <label>
            Name:
            <input type="text" placeholder="name" name="name">
        </label>
        <label>
            Quote:
            <input type="text" placeholder="quote" name="quote">
        </label>
        <button type="submit">Submit</button>
    </form>

    <script src="bundle.js"></script>
</body>
</html>