.navigation {
    &__group {
        margin-left: 30px;
        border: 1px solid $c-strawberry-outline;
        width: 70%;
    }

    &__element {
        list-style: none;
        padding: 5px;
    }
}
